#image {
  background-image: url(../img/product-1.jpg);
  background-position: center;
  background-size: cover;
  height: 280px;
  padding: 2rem 1rem;
}

#go-back-button {
  align-items: center;
  background-color: rgba(206, 32, 64, 0.8);
  border-radius: 0.375rem;
  color: rgba(255, 255, 255, 0.875);
  font-size: 1.75rem;
  display: flex;
  height: 2.25rem;
  justify-content: center;
  width: 2.25rem;
}

main {
  background-color: #fff;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  margin-top: -2rem;
  padding: 1.5rem 0px;
  padding-bottom: 4.75rem; /*footer height*/
}

#product-name {
  margin-bottom: 0px;
}

.price,
#price {
  color: #ea1d2c;
}

#description {
  color: #575757;
  font-size: 0.875rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

#footer {
  align-items: stretch;
  background-color: #fff;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  bottom: 0;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 50;
}

#footer .form__input-number {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  margin-right: 1rem;
}
